body {
  background-color: lightblue;
}

p {
  color: green;
  font-size: 40px;
}

.firstClass {
  color: orange;
  font-style: italic;
}

#firstID {
  font-weight: bold;
}

.secondClass{
  color: purple;
}

.fontClass{
  font-family: Arial, Helvetica, sans-serif;
}

.greenText{
  color: green;
  text-align: center;
}

.orangeText{
  color: orange;
}

.purpleText{
  color: purple;
  text-align: right;
}

.redSuper{
  color: red;
  vertical-align: super;
}

.yellowCaps{
  color: yellow;
  font-style: italic;
  text-transform: uppercase;
}
